# <font style="padding:10px;background-color:#red;margin:0;color:#c27849;font-family:newtimeroman;font-size:150%;text-align:center;border-radius: 15px 50px;overflow:hidden;font-weight:500">collection de jeux de donnee
 </font>

In [19]:
import pandas as pd
import re

In [20]:


# Charger le fichier Excel
dz = pd.read_excel (r"C:\Users\hp\Desktop\pfemaster\dataset\Madar.xlsx")

# Supprimer la 2ème colonne (index 1)
dz.drop(dz.columns[1], axis=1, inplace=True)

# Ajouter la colonne "Dialect"
dz["Dialect"] = "DZ"

In [21]:
dz.shape 
dz.columns

Index(['text', 'Dialect'], dtype='object')

In [22]:
ma = pd.read_csv(r"C:\Users\hp\Downloads\MAC corpus.csv", sep=',', encoding='utf-8')
ma.head()

                                         tweets      type        class
0                     ماهي آرائكم متتبعي الكرام   neutral   standard;;
1                  عبقرية المدرب وروعة اللاعبين  positive   standard;;
2                        أمة عربية واحدة خالدة   positive   standard;;
3  عاد إليكم من جديد وأخيرا درت جيم لهاد الصفحة   neutral  dialectal;;
4                      الله يخلف عليك سيدي محمد  positive  dialectal;;

In [23]:
ma['class'] = ma['class'].str.replace(';;', '', regex=False)
ma.head()

                                         tweets      type      class
0                     ماهي آرائكم متتبعي الكرام   neutral   standard
1                  عبقرية المدرب وروعة اللاعبين  positive   standard
2                        أمة عربية واحدة خالدة   positive   standard
3  عاد إليكم من جديد وأخيرا درت جيم لهاد الصفحة   neutral  dialectal
4                      الله يخلف عليك سيدي محمد  positive  dialectal

In [24]:
# Étape 1 : supprimer les lignes où class == "standard"
ma = ma[ma['class'] != 'standard']

# Étape 2 : supprimer les colonnes 'type' et 'class'
ma = ma.drop(columns=['type', 'class'])

# Étape 3 : ajouter la colonne 'Dialect' = 'MA'
ma['Dialect'] = 'MA'

In [25]:
ma.head()

                                              tweets Dialect
3       عاد إليكم من جديد وأخيرا درت جيم لهاد الصفحة      MA
4                           الله يخلف عليك سيدي محمد      MA
6  هجومك يا أخي على حسن طارق تبرهيش و قلة عقل ودل...      MA
7    أمين عام حزب سياسي كينشر تدوينة وكيدير ليها جيم      MA
8  أجي بعدا فين غبرات واحد الحمى القلاعية شفت ما ...      MA

In [26]:
# Renommer les colonnes de ma
ma = ma.rename(columns={'tweets': 'text'})

# Afficher le résultat
print(ma)

                                                    text Dialect
3           عاد إليكم من جديد وأخيرا درت جيم لهاد الصفحة      MA
4                               الله يخلف عليك سيدي محمد      MA
6      هجومك يا أخي على حسن طارق تبرهيش و قلة عقل ودل...      MA
7        أمين عام حزب سياسي كينشر تدوينة وكيدير ليها جيم      MA
8      أجي بعدا فين غبرات واحد الحمى القلاعية شفت ما ...      MA
...                                                  ...     ...
18082                  ريالية و افتخر و نعلي راسي الفوق       MA
18083                                        ماكاين مشكل      MA
18084                                   سمح ليا ماقصدتش       MA
18085                             الله يكمل عليها بالخير      MA
18086                                   يمكن و الله اعلم      MA

[5476 rows x 2 columns]

In [27]:
ma.shape

(5476, 2)

In [28]:
# Lecture des fichiers CSV
import csv
t1 = pd.read_csv(
    r"C:\Users\hp\Downloads\train_pos.csv",
    encoding='utf-8',          
    header=None,               # pas d'en-tête
    quoting=csv.QUOTE_NONE,    # ne pas interpréter les guillemets
    on_bad_lines='skip'        # ignorer les lignes corrompues si elles existent
)


t2 = pd.read_csv(
    r"C:\Users\hp\Downloads\train_neg.csv",
    encoding='utf-8',
    header=None,
    quoting=csv.QUOTE_NONE,
    on_bad_lines='skip'
)

t3 = pd.read_csv(
    r"C:\Users\hp\Downloads\test_pos.csv",
    encoding='utf-8',
    header=None,
    quoting=csv.QUOTE_NONE,
    on_bad_lines='skip'
)


t4 = pd.read_csv(
    r"C:\Users\hp\Downloads\test_neg.csv",
    encoding='utf-8',
    header=None,
    quoting=csv.QUOTE_NONE,
    on_bad_lines='skip'
)

In [29]:
# Concaténer les DataFrames
TN= pd.concat([t1, t2, t3, t4], ignore_index=True)
TN.shape

(16894, 1)

In [30]:
TN.columns = ['text']
TN

                                                    text
0                                  Oui ene t3jbni barcha
1                                        تبارك الله عليه
2          امرأة أنيقة و سلسة في خطابها و ذكية و متواضعة
3      جعفر يحب بلادو ويعمل في الخير يعاون في الناس و...
4                                                Mahleha
...                                                  ...
16889                          شبعة خمج.اينما يقيم الجهل
16890  الانسان هذا مافهمتش شنوه دينو وشنوه انتماءاتو ...
16891           عار عليكم اليوم تجيبوا هالمناظر للتلفزة"
16892           ma5ibha sahrya 5ater enti faha ya ma9ded
16893     عدم إحترام المشاهد من جميع الأطراف هي قلة حياء

[16894 rows x 1 columns]

In [31]:
# Supprimer les lignes dont le texte n'est pas en arabe 
# Le motif arabe couvre les caractères Unicode arabes
TN = TN[TN['text'].str.contains(r'[\u0600-\u06FF]', regex=True)]

TN.head

<bound method NDFrame.head of                                                     text
1                                        تبارك الله عليه
2          امرأة أنيقة و سلسة في خطابها و ذكية و متواضعة
3      جعفر يحب بلادو ويعمل في الخير يعاون في الناس و...
10                            والله بكتني برافووووو واصل
11                                                محلاها
...                                                  ...
16887  ملا حثالة مستدعيه ، قواد ولحاس ، طيح مستوى الب...
16889                          شبعة خمج.اينما يقيم الجهل
16890  الانسان هذا مافهمتش شنوه دينو وشنوه انتماءاتو ...
16891           عار عليكم اليوم تجيبوا هالمناظر للتلفزة"
16893     عدم إحترام المشاهد من جميع الأطراف هي قلة حياء

[7717 rows x 1 columns]>

In [32]:
# Ajouter une colonne 'dialect' avec la valeur 'TN' pour toutes les lignes
TN['Dialect'] = 'TN'

C:\Users\hp\AppData\Local\Temp\ipykernel_12748\1922753696.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  TN['Dialect'] = 'TN'

In [33]:
TN.shape

(7717, 2)

In [34]:
dz.shape

(1994, 2)

In [35]:
ma.shape

(5476, 2)

In [36]:
df = pd.read_csv(r"c:\Users\hp\Desktop\pfemaster\dataset\data_v0.1.0.csv")
df

                                                     text dialect
0       ياخي المدرب أختاره والمدرب دخله والمدرب بارك ا...      AE
1       شو الي قاعد يجري فالنصر يا أخوه خسر المباراة س...      AE
2             الي يبحث عن مشكلة الوصل راح يحصلها فالجولان      AE
3       انا مش معترض على تغير عامر الي دخل مكان عامر ا...      AE
4       تراجع مخيف في مستوى الحارس الكبير ماجد ناصر مش...      AE
...                                                   ...     ...
365714                 هل لك أن تسمح بالتقاط صورة لك معنا     MSA
365715                                   هل لديك سمك مقلي     MSA
365716        هل يمكني استئجار مرشدا يتحدث الغة اليابانية     MSA
365717  أيهما تعتقد أنها أفضل كهدية لصبي عمره ثماني سنوات     MSA
365718                               تعني في نطاق المدينة     MSA

[365719 rows x 2 columns]

In [ ]:
# Garder uniquement les lignes où dialect == "TN"
df_ma = df[df['dialect'] == 'MA']

# Garder seulement 200 lignes aléatoires
df_ma_random = df_ma.sample(n=4524, random_state=42)  # random_state pour la reproductibilité

# Afficher le résultat
print(df_ma_random)

In [ ]:
df_ma_random= df_ma_random.rename(columns={'dialect': 'Dialect'})

In [ ]:
ma = pd.concat([ma, df_ma_random], ignore_index=True)

In [ ]:
ma.columns

In [ ]:
# Garder uniquement les lignes où dialect == "TN"
df_dz = df[df['dialect'] == 'DZ']

# Garder seulement 200 lignes aléatoires
df_dz_random = df_dz.sample(n=8006, random_state=42)  # random_state pour la reproductibilité

# Afficher le résultat
print(df_dz_random)

In [ ]:
df_dz_random= df_dz_random.rename(columns={'dialect': 'Dialect'})

In [ ]:
dz = pd.concat([dz, df_dz_random], ignore_index=True)
df_dz_random.columns

In [ ]:
dz.columns

In [ ]:
# Garder uniquement les lignes où dialect == "TN"
df_tn = df[df['dialect'] == 'TN']

# Garder seulement 200 lignes aléatoires
df_tn_random = df_tn.sample(n=2283, random_state=42)  # random_state pour la reproductibilité

# Afficher le résultat
print(df_tn_random)

In [ ]:
df_tn_random= df_tn_random.rename(columns={'dialect': 'Dialect'})

In [ ]:
TN = pd.concat([TN, df_tn_random], ignore_index=True)

In [ ]:
print(dz.shape , TN.shape, ma.shape)

In [ ]:
# Combiner les trois DataFrames en un seul
dataset_final = pd.concat([dz, TN, ma], ignore_index=True)

In [ ]:
pd.value_counts(dataset_final['Dialect'])

In [ ]:
# Enregistrer le DataFrame combiné sous format CSV
dataset_final.to_csv('dataset/dataset_final.csv', index=False)

In [ ]:
dataset_final